[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
	branch = master
[submodule "vim/pack/vendor/start/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/pack/vendor/start/ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/vendor/start/Fzf.vim"]
	path = vim/pack/vendor/start/Fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/vendor/start/lightline"]
	path = vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/fzf"]
	path = vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zshcustom/plugins/zsh-autosuggestions"]
	path = zshcustom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zshcustom/plugins/zsh-syntax-highlighting"]
	path = zshcustom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zshcustom/plugins/git-open"]
	path = zshcustom/plugins/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "vim/pack/vendor/start/fugitive"]
	path = vim/pack/vendor/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/vendor/start/gruvbox"]
	path = vim/pack/vendor/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/pack/vendor/start/coc.nvim"]
	path = vim/pack/vendor/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/pack/vendor/start/vim-jsonc"]
	path = vim/pack/vendor/start/vim-jsonc
	url = git@github.com:kevinoid/vim-jsonc.git
[submodule "vim/pack/vendor/start/defx.nvim"]
	path = vim/pack/vendor/start/defx.nvim
	url = git@github.com:Shougo/defx.nvim.git
[submodule "zshcustom/themes/powerlevel10k"]
	path = zshcustom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
